
@{
    ViewBag.Title = "Index";
}

<h2>Listar</h2>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Bolsista</th>
            <th>Desconto</th>
            <th>Data de Nascimento</th>
            <th>Grupo</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

@section scripts
{
<script>
    $.ajax({
        url: "http://localhost:63190/api/aluno",
        method: "GET",
        success: function (data) {
            $.each(data, function (index, item) {
                //Criar uma nova linha
                var linha = $("<tr>");
                linha.append($("<td>").text(item.nome));
                linha.append($("<td>").text(item.bolsa));
                linha.append($("<td>").text(item.desconto));
                linha.append($("<td>").text(item.dataNascimento));
                linha.append($("<td>").text(item.grupoId));

                $("tbody").append(linha);
            });
        }
    });
</script>
    }